<body>
<div class="container">

<h2>Edit Page</h2><br><br><hr>


  <form (ngSubmit)="onsubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input ngModel
             type="text"
             class="form-control"
             name="firstname" id="exampleInputEmail1"
             aria-describedby="emailHelp"
             placeholder="Enter First Name"
             required
             #em="ngModel"
      >
    </div>
    <p style="color: darkred;"
       class="help-block"
       *ngIf="!em.valid && em.touched"> <!--make visible only when entry is invalid-->
      Please enter a first name
    </p>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input ngModel
             type="text"
             class="form-control"
             name="lastname"
             id="exampleInputPassword2"
             placeholder="Last Name"
             required
             #ln="ngModel">
    </div>
    <p style="color: darkred;"
       class="help-block"
       *ngIf="!ln.valid && ln.touched"> <!--make visible only when entry is invalid-->
      Please enter a last name
    </p>
    <div class="form-group">
      <label for="exampleInputPassword1">Job</label>
      <input ngModel
             type="text"
             class="form-control"
             name="job"
             id="exampleInputPassword1"
             placeholder="Job"
             required
             #job="ngModel">
    </div>
    <p style="color: darkred;"
       class="help-block"
       *ngIf="!job.valid && job.touched"> <!--make visible only when entry is invalid-->
      Please enter a job
    </p>
    <button type="submit" class="btn btn-warning" [disabled]="!f.valid">Update</button>
  </form>
</div>

</body>
